PORT=3000
ALICE_TOKEN= "запиши сюда личный уникальный токен (любой)"
NODE_ENV=development
LOG_LEVEL=info

# Notion Integration (optional)
NOTION_TOKEN="создай интеграцию в notion, там интеграционный токен"
NOTION_DATABASE_ID="ссылка от БД Notion перед ?v="